

<div class="container mt-5">

    <!-- Add New Contact Button -->
    <button class="btn btn-success mb-3" routerLink = "/contact">New</button>
   
    <!-- Contacts Table -->
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Email</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let contact of contactslist">
          <td>{{ contact.id }}</td>
          <td>{{ contact.firstName }}</td>
          <td>{{ contact.lastName }}</td>
          <td>{{ contact.email }}</td>
          <td>
            <button class="btn btn-primary" (click)="goToCreate(contact.id)">Edit</button>
          </td>
          <td>
            <button class="btn btn-danger" (click)="deleteContact(contact.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <app-create-contact [contactId]="selectedItemId"></app-create-contact>
  