<div class="container">
<form [formGroup]="myForm" (ngSubmit)="contacts.id ? updateContact() : createContact()">
  <div class="form-group">
    <label for="FirstName">First Name:</label>
    <input type="text" id="FirstName" formControlName="FirstName" class="form-control" />
    <div *ngIf="myForm.get('FirstName')?.invalid && myForm.get('FirstName')?.touched" class="text-danger">
      First Name is required.
    </div>
  </div>
  <div class="form-group">
    <label for="LastName">Last Name:</label>
    <input type="text" id="LastName" formControlName="LastName" class="form-control" />
    <div *ngIf="myForm.get('LastName')?.invalid && myForm.get('LastName')?.touched" class="text-danger">
      Last Name is required.
    </div>
  </div>

  <div class="form-group">
    <label for="Email">Email:</label>
    <input type="Email" id="Email" formControlName="Email" class="form-control" />
    <div *ngIf="myForm.get('Email')?.invalid && myForm.get('Email')?.touched" class="text-danger">
      Valid email is required.
    </div>
  </div>
  <button type="submit" class="btn btn-primary">
    {{ this.contactId ? 'Update' : 'Create' }} Contact
  </button>
  <button type="button" class="btn btn-secondary"  (click)="resetForm()" >Reset</button>
</form>
<div>Selected Item ID: {{ contactId }}</div>
</div>